body{
    font-family:'Times New Roman', Times, serif;
    background: rgb(43, 255, 0)
}

.header_div{
    background: rgb(15, 148, 15);
    color: rgb(255, 255, 255);
}

.header_div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(61, 60, 60);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    color: rgb(253, 253, 253);
    background: rgb(15, 148, 15);
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}